@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	overflow: auto;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0, 107, 192);
	background: linear-gradient(25deg,
			rgba(0, 107, 192, 1) 0%,
			rgba(0, 91, 113, 1) 0%,
			rgba(101, 51, 172, 1) 79%,
			rgba(147, 62, 216, 1) 86%);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.preloader img {
	width: 8%;
}