@import url("../../css/generalize.css");
@import url("../../css/styleHeader.css");
@import url("../../css/styleFooter.css");

main {
    background-image: url("https://hospitecnia.com/sites/default/files/styles/node_teaser/public/2021-07/cabecera-who-cuidados-paliativos.jpg?itok=9I7-vfGg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .login {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.boton {
    background: rgb(0, 107, 192);
    background: linear-gradient(25deg,
            rgba(0, 107, 192, 1) 0%,
            rgba(0, 91, 113, 1) 0%,
            rgba(101, 51, 172, 1) 79%,
            rgba(147, 62, 216, 1) 86%);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border: none;
    color: white;
}