@import url("../../css/generalize.css");
@import url("../../css/styleHeader.css");
@import url("../../css/styleFooter.css");

main {
  background-image: url("../../multimedia/cuidaMatch.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .login {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
}

main h1 {
  font-size: 60px;
  padding: 30px;
}

.boton {
  background: rgb(0, 107, 192);
  background: linear-gradient(
    25deg,
    rgba(0, 107, 192, 1) 0%,
    rgba(0, 91, 113, 1) 0%,
    rgba(101, 51, 172, 1) 79%,
    rgba(147, 62, 216, 1) 86%
  );
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  border: none;
  color: white;
}

.iconIdioma {
  position: fixed;
  z-index: 2;
  right: 15px;
  height: 7%;
  bottom: 10%;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  main h1 {
    font-size: 40px;
    padding: 15px;
  }

  main .login {
    font-size: 18px;
  }
}
