@import url("../../css/generalize.css");
@import url("../../css/styleHeader.css");
@import url("../../css/styleFooter.css");


body{
  background: rgb(214, 206, 206);
  height: 100vh;
  width: 100vw;
  color: aliceblue;
}

.content {
  
  margin: 10%;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background: linear-gradient(
    25deg,
    rgba(0, 107, 192, 1) 0%,
    rgba(0, 91, 113, 1) 0%,
    rgba(101, 51, 172, 1) 79%,
    rgba(147, 62, 216, 1) 86%
  );
}

.iconIdioma {
  position: fixed;
  z-index: 2;
  right: 15px;
  height: 7%;
  bottom: 10%;
  cursor: pointer;
}